body {
    background-color: #1387FA;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

.title {
    position: relative;
    text-align: center;
    top: 1em;
}

.nav {
    position: relative;
    top: 2em;
}

.nav-link {
    color: black;
    padding: 40px;
    
}

.div-nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-control {
    position: relative;
    width: 40%;
    
}

.form-group {
    position: relative;
    top: 5em;
}
.btn {
    position: relative;
    top: 5em;
    background-color: #1387FA;
    border-color: #1d61a5;
}

.chatsystem {
    position: relative;
    bottom: 10em;
    left: 25em;
    background-color: white;
    height: 400px;
    width: 400px;
    border-color: black;
    border-width: 3px;
    border-style: solid;
    border-radius: 10px;
    
}

.small {
    position: relative;
    color: lightgrey;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

#chatlog { list-style-type: none; margin: 0; padding: 0; }
      #chatlog > li { padding: 0.5rem 1rem; }
      #chatlog > li:nth-child(odd) { background: #efefef; }

